* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "POppins", sans-serif;
}
:root {
  --black: #333;
  --white: #fff;
}
.dark {
  --black: #fff;
  --white: #333;
}
body {
  position: relative;
}
header {
  position: absolute;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .login {
  position: relative;
  display: inline-flex;
  color: var(--black);
  text-decoration: none;
  font-size: 2em;
  font-weight: 0.05em;
  letter-spacing: 0.05em;
  /* 小写变大写 */
  text-transform: uppercase;
}
.righSide {
  display: flex;
}
.btns {
  position: relative;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* 手指光标 */
  cursor: pointer;
  margin-left: 10px;
}
.btns ion-icon {
  font-size: 1.5em;
  color: var(--black);
}

.btns ion-icon:nth-child(2) {
  display: none;
}
.btns.active ion-icon:nth-child(2) {
  display: block;
}
.btns.active ion-icon:nth-child(1) {
  display: none;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit 属性指定元素的内容应该如何去适应指定容器的高度与宽度 */
  object-fit: cover;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* 在 web 浏览器中，如果您在文本上双击，文本会被选取或高亮显示。此属性用于阻止这种行为 */
  user-select: none;
  /* mix-blend-mode控制背景部分透明 */
  mix-blend-mode: screen;
}
.dark .mask {
  filter: invert(1);
  mix-blend-mode: multiply;
}
.main h2 {
  position: relative;
  z-index: 3;
  font-size: 16vw;
  color: #fff;
  text-shadow: 0 20px 30px rbga(0, 0, 0, 0.2);
}
.navigation {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
  z-index: 4;
  transition: 0.5s;
}
.navigation.active {
  left: 0;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35em;
  text-decoration: none;
  color: var(--black);
  padding: 5px 10px;
  border-radius: 40px;
}
.navigation li a:hover {
  background-color: var(--black);
  color: var(--white);
}
.copyrightText {
  position: absolute;
  left: 100px;
  bottom: 20px;
  z-index: 4;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--black);
}
.sci {
  position: absolute;
  right: 100px;
  bottom: 40px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}
.sci li {
  list-style: none;
}
.sci li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.75em;
}
@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  .copyrightText {
    left: 20px;
    bottom: 30px;
  }
  .sci {
    right: 20px;
    bottom: 20px;
  }
}
